 <main class="primeBackground">
        <div class="backgoundFilter">
            <div class="d-flex flex-row justify-content-around">
                <div id="growerSection" class="d-flex flex-column align-items-center card loginBox gap-2">
                    <h2 class="primaryFont">I'm a Grower</h2>
                    <form class="d-flex flex-column align-items-center loginForm">
                        <input type="text" for="username" id="usernameLogin" placeholder="Username" class="form-control text-center gap-2">
                        <input type="password" for="password" id="passwordLogin" placeholder="Password" class="form-control text-center gap-2">
                        <button type="submit" class="btn btn-dark primaryBtn">Login</button>
                    </form>
                </div>
                <div id="buyerSection" class="d-flex flex-column align-items-center card loginBox">
                    <h2 class="primaryFont">I'm a Buyer</h2>
                    <form class="d-flex flex-column align-items-center buyerLoginForm">
                        <input type="text" for="username" id="usernameLoginBuyer" placeholder="Username" class="form-control text-center">
                        <input type="password" for="password" id="passwordLoginBuyer" placeholder="Password" class="form-control text-center">
                        <button type="submit" class="btn btn-dark primaryBtn">Login</button>
                    </form>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-around">
                <div class="d-flex card loginBox justify-content-around align-items-center gap-2">
                    <div class="row">
                        <h5 class="primaryFont">Need an account?</h5>
                    </div>
                    <div class="row">
                        <button class="btn btn-dark primaryBtn signUpBtn"><a href="/signup" class="text-reset text-decoration-none">Sign Up!</a></button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/login.js"></script>